<div class="login">
  <form class="form-horizontal col-xs-12">
    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2">
        <select ng-model="ctrl.credentials.username">
          <option value="myself@angular.dev">myself@angular.dev</option>
          <option value="devgal@angular.dev">devgal@angular.dev</option>
          <option value="devguy@angular.dev">devguy@angular.dev</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2">
        <input type="password" ng-model="ctrl.credentials.password" ng-init="password" class="form-control" id="inputPassword3" placeholder="密码">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-10">
        <div class="pull-right">
          <button type="submit" class="btn btn-default" ng-click="ctrl.login(ctrl.credentials)">登录</button>
        </div>
        <div ng-show="ctrl.errorMessage" class="well error">{{ ctrl.errorMessage }}</div>
      </div>
    </div>
  </form>
</div>